<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>TITULO TRAGO</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="https://www.thecocktaildb.com/images/media/drink/nkwr4c1606770558.jpg" alt="Titulo trago">
    <mat-card-content>
      <p>
        Descripcion/preparacion del trago
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
    </mat-card-actions>
  </mat-card>