<mat-toolbar color="primary">
    <span>Cheborrap</span>
    <br>
    <button mat-button routerLink="/home">Home</button>
    <button mat-button routerLink="/bodega-personal">Bodega Personal</button>
    <button mat-button routerLink="/cocteleria">Coctelería</button>
    <button mat-button routerLink="/nosotros">Nosotros</button>
    <button mat-button routerLink="/login">LogIn</button>
    <button mat-button routerLink="/register">Register</button>
  </mat-toolbar>
  
  <header class="nav-bar">
